.box {
    height: 280px;
    width: 250px;
    /* background-color: #3c3c3c; */
    background-color: #1f1f1f;
    position: absolute;
    border: #3c3c3c;
    border-style: groove;
    justify-content: center;
    bottom: 0;
    right: 0;
    z-index: 1;
    
}

.marker {
    display: flex;
    padding: 8px 0px 0px 16px;
}