#map {
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}

.mapboxgl-ctrl-icon {
  margin: 0px 0px 0px 0px;
}

/* .mapboxgl-ctrl-group {
  position: relative;
  margin: 300px 0px 0px 0px
} */
  